html, body {
  padding:0;
  margin:0;
  min-width: 100%;
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
main {
  font-weight: bold;
  position: relative;
  z-index: 1;
  background-color: white;
  width: 90%;
  max-width: 1300px;
  margin: -175px auto 0 auto;
  box-shadow: 0px 0px 50px -10px #000000;
  padding: 30px;
}

header{
  width: 100%;
  height: 228px;
  background-color: #004E9A;
}
footer{
  z-index: 0;
  position: relative;
  margin-top: -100px;
  width: 100%;
  height: 180px;
  background-color: #004E9A;
}
/*now classes and smaller tags */
h1{
  text-align: center;
  text-decoration: underline;
  font-size: 40px;
}
.update{
  text-align: center;
  font-size: 20px;
}
.updateHeader{
  text-align: center;
  font-size: 24px;
  padding-top: 50px;
  color: red;
}
.updateTable{
  display: flex;
  justify-content: center;
}
.updateRow{
  border: 2px solid black;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.updateRow:first-child{
  border-right: 1px solid black;
  border-radius: 0.4em 0em 0em 0.4em;
}
.updateRow:last-child{
  border-left: 1px solid black;
  border-radius: 0em 0.4em 0.4em 0em;
}
.tableColumnName{
  min-height: 30px;
  width: 100%;
  border-bottom: 2px solid black;
  text-align: center;
  padding-top: 10px;
  font-size: 18px;
  background-color: #004E9A;
  color: #E1E1E1;
}
.updateRow p{
  font-size: 16px;
  font-weight: bold;
}
.updateOptions{
  padding: 10px;
  margin-top: 10px;
  background-color: #F2F2F2;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  text-align: center;
  font-weight: bold;
}
.updateText{
  font-weight: bold;
  margin-top: 30px;
}
.updateFree{
  color:red;
  font-size: 16px;
}
.optionsText{
  max-width: 200px;
}
button{
  border-radius: 0.2em;
  border: 1px solid;
  border-color: #FFB838 #CD8C2F #CD7C1B #EAB66E;
  text-shadow: none;
  font-size: 16px;
  background: #FFCC00;
  padding: 4px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
}
#updateBlock{
  color: red;
}
#updateBlock2{
  color: grey;
}
hr{
  width: 80%;
  color: #004E9A;
}
.updatePointer{
  text-align: center;
  font-size: 10px;
}
.h2Header{
  text-align: center;
  font-size: 20px;
  color: red;
}
.orderRadio{
  text-align: center;
  font-size: 14px;
  padding-top: 20px;
}
.radio{
  cursor: pointer;
  border: 10px solid #CDD1DA;
}
.orderList{
  padding: 20px;
  font-size: 14px;
  text-align: center;
}
.orderButton{
  text-align: center;
  padding: 10px;
}
.orderSelect{
  font-weight: bold;
  border-radius: 0.2em;
  background-color: #FFCC00;
}
option{
  font-weight: bold;
}
.h3Header{
  padding-top: 20px;
  text-align: center;
  font-size: 16px;
  color: red;
}
li {
  list-style-type: none;
  font-size: 14px;
}
li:before {
  content: "\2714";
  padding-right: 5px;
}
.textQuality{
  text-align: center;
}
.textHeaderRed{
  color:red;
}
.textHeaderCursive{
  font-style: italic;
  padding-bottom: 10px;
}
.whyImages{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
img{
  max-height: 200px;
}
figcaption{
  text-align: center;
  text-decoration: underline;
}
.imagesAfter{
  text-align: center;
}
.asp{
  font-weight: bolder;
  font-size: 20px;
}
.joinText{
  text-align: center;
  font-size: 16px;
  padding: 20px;
}
.joinMainText{
  font-size: 24px;
  font-weight: bolder;
  padding-bottom: 5px;
}
.joinTextJoin{
  color: red;
}
.reviewsHeader{
  text-align: center;
  font-size: 20px;
}
.reviews{
  display: flex;
  justify-content: center;
}
.review{
  min-height: 200px;
  max-width: 200px;
  border: 2px solid black;
  box-shadow: 0px 0px 50px -10px #000000;
  border-radius: 0.4em;
  padding: 10px;
  margin: 10px;
  background: #CDD1DA;
 background: linear-gradient(to bottom, #FFFFFF ,#CDD1DA);
}
.reviewHeader{
  font-size: 14px;
  text-align: center;
}
.reviewContent{
  margin-left: 20px;
}
.priceTable{
	margin: 0px auto;
	text-align: center;
	border: 2px solid black;
	font-weight: bold;
}
.tablePrice{
	padding: 0px 50px 0px 50px;
}
.tableRowSpecial {
	background-color: #004E9A;
}
